/* This is my comment */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Shadows+Into+Light&display=swap');

body {
color:antiquewhite;
background-color: black;
font-size: 12px;

font-family: 'Merriweather Sans', sans-serif;
/* box-sizing: border-box;
padding-top: 25px;
padding-right: 20px;
padding-left: 10px;
padding-bottom: 10px;
background-image: url("camino_faded.jpg");
background-repeat: no-repeat;
background-size: cover; */
}
.name {
font-family: 'Shadows Into Light', cursive;
color: khaki;
font-size: 3em;
}



.nav-item{
    display:flex;
    box-sizing: border-box;
    background-color: navy;
    color: white;
    padding: 25px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 75px;
    width: 150px;
    justify-content: center;
}
a {
    text-decoration-line: none;
}
a:visited {
    text-decoration-line: none;
}